__pycache__
taming
log
esc50.zip
ESC-50-master
ckpt
lightning_logs
mlx_submit_*
job_queue.sh
*.wav
# *.txt
*.cleaned
*.tar
*.npy
*.TextGrid
TextGrid
LJSpeech-1.1
condor*
wandb
temp.py
temp
tests
test.yaml
data/dataset/
data/checkpoints/
log/
__pycache__/
*.pyc
.conda/
.drawspeech_env/
*.ckpt
*.pth
*.tar.bz2
*.zip
tests/inference.json
*.npy
taming-transformers/
